# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
generic-project-template

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# ide
.idea/*

# make
tmp.out
coverage.out

# config
./conf/config.toml

# log
./logs
./logs/*
