package {{.apiPackageName}}

import (
	"net/http"

	"{{.modelFQPN}}"
    "{{.daoFQPN}}"

	"github.com/gin-gonic/gin"
	"github.com/guregu/null"
)

type I{{.StructName}}Service interface {
	Add{{.StructName}}(c *gin.Context)
	Update{{.StructName}}(c *gin.Context)
	Delete{{.StructName}}(c *gin.Context)
	Get{{.StructName}}(c *gin.Context)
	GetAll{{.StructName}}(c *gin.Context)
}

type {{.StructName}}Service struct{
    debugLevel httputils.DebugLevel
    repo       repository.I{{.StructName}}Repository
}

func NewDefault{{.StructName}}Service(debugLevel httputils.DebugLevel, repo repository.I{{.StructName}}}Repository) I{{.StructName}}}}Service {
	return &{.StructName}Service{
		debugLevel: debugLevel,
		repo:       repo,
	}
}

{{template "api_getall.go.tmpl" .}}
{{template "api_get.go.tmpl" .}}
{{template "api_add.go.tmpl" .}}
{{template "api_update.go.tmpl" .}}
{{template "api_delete.go.tmpl" .}}
